<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>LibraryPackage.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlreadyRegistered</servlet-name>
  	<display-name>AlreadyRegistered</display-name>
  	<description>Usernames</description>
  	<servlet-class>LibraryPackage.AlreadyRegistered</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EbookShop</servlet-name>
  	<display-name>EbookShop</display-name>
  	<description></description>
  	<servlet-class>LibraryPackage.EbookShop</servlet-class>
  </servlet>
  <servlet>
  	<display-name>registrationClass</display-name>
  	<servlet-name>registrationClass</servlet-name>
  	<servlet-class>LibraryPackage.registrationClass</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>WelcomePage</display-name>
  	<servlet-name>WelcomePage</servlet-name>
  	<servlet-class>WelcomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>InsertingBook</display-name>
  	<servlet-name>InsertingBook</servlet-name>
  	<servlet-class>LibraryPackage.InsertingBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchingBook</display-name>
  	<servlet-name>SearchingBook</servlet-name>
  	<servlet-class>LibraryPackage.SearchingBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DisplayBook</display-name>
  	<servlet-name>DisplayBook</servlet-name>
  	<servlet-class>LibraryPackage.DisplayBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeletingBook</display-name>
  	<servlet-name>DeletingBook</servlet-name>
  	<servlet-class>LibraryPackage.DeletingBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdatingBook</display-name>
  	<servlet-name>UpdatingBook</servlet-name>
  	<servlet-class>LibraryPackage.UpdatingBook</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EbookShop</servlet-name>
  	<url-pattern>/EbookShop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registrationClass</servlet-name>
  	<url-pattern>/registrationClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomePage</servlet-name>
  	<url-pattern>/WelcomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertingBook</servlet-name>
  	<url-pattern>/InsertingBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchingBook</servlet-name>
  	<url-pattern>/SearchingBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayBook</servlet-name>
  	<url-pattern>/DisplayBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletingBook</servlet-name>
  	<url-pattern>/DeletingBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatingBook</servlet-name>
  	<url-pattern>/UpdatingBook</url-pattern>
  </servlet-mapping>
</web-app>